.flex-wrap {
    background-color: #99b7d6;
    min-height: 100vh;
}

@font-face { 
    font-family: 'ROBO'; 
    src: url('webfont.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }

